/* 颜色变量 */

/** 状态色 **/
$ACTIVE: #005caf;
$HOVER: #1f62b7;
// 主色
$MAIN: #3874bf;
$DISABLED: #426cc3;
$SHADOW: #2ea9df;
$BACKGROUND: #1a94d0;

/** 功能色 **/
// 成功
$SUCCESS: #13ca7e;
// 出错/提醒
$WARNING: #f9a351;
// 失败
$ERROR: #ff4b5b;
// 信息
$INFO: #1b9cfc;

/** 中性色 **/
// 全局背景色
$GLOBAL_BG: #edf0f2;
$GLOBAL_BGL: #f4f5f7;

// 主要文字颜色
$COLOR_1: #101010;
// 一级标题
$COLOR_3: #313131;
// 二级标题
$COLOR_6: #666;
// 说明文字
$COLOR_9: #999;
// 提示文字
$COLOR_B: #bbb;
$COLOR_C: #ccc;
$COLOR_D6: #d6d6d6;
// 间隔线
$COLOR_E: #eee;
// 白色
$COLOR_F: #fff;
