@import 'fonts/DIN/style.css';
@import 'fonts/Nunito/style.css';
@import 'fonts/Open sans/style.css';

.ff-din {
  font-family: 'DIN Regular';
}

.ff-din-pro {
  font-family: 'DINPro-Bold';
}

.ff-nunito {
  font-family: 'Nunito';
}

.ff-open-sans {
  font-family: 'Open Sans';
}
