html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  cursor: default;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  -webkit-user-drag: none;
  border-style: none;
  backface-visibility: hidden;
}

// 自动填充 屎黄色覆盖
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

[class].iconfont {
  font-size: inherit;
}

// 自定义滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: -2px 0 0 #fff inset,
    1px 0 0 rgba(255, 255, 255, 0.9) inset,
    0 -1px 0 rgba(255, 255, 255, 0.9) inset,
    0 1px 0 rgba(255, 255, 255, 0.9) inset;
}

::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 0 0 #fff inset, 1px 0 0 #fff inset,
    0 -1px 0 rgba(255, 255, 255, 0.9) inset,
    0 1px 0 rgba(255, 255, 255, 0.9) inset;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
}
