.pointer {
  cursor: pointer;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.overflow {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
